/*=============================================
                Shared css
 ==============================================*/
 *{
    font-family: 'Mulish',sans-serif;
 }

 body{
    overflow-x: hidden ;
 }

 .card-head{
    color: #131318;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
 }

 .card-para{
    color: #5A5A5D;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem
 }

  /*=============================================
                header related css
 ==============================================*/
.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

 /*=============================================
                nav related css
 ==============================================*/

.nav-container{
    width:73.125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.125rem;
}

.nav-container .nav-left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container .nav-left h1{
    color: #131318;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.nav-container .nav-left h1 span{
    color: #FF5400;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.nav-container .nav-left img{
    width:3rem;
    height:3.5rem;
    padding-right: 1rem;
}

.nav-container .nav-right{
    display: flex;
    align-items: center;
}

.nav-container .nav-right ul{
    display: flex;
    list-style: none;
}

.nav-container .nav-right ul a{
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 2.75rem;
    transition: all 0.3s ease;
}

.nav-container .nav-right ul a:hover{
    color:#FF5400;
}

 .menu-btn i{
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

#click{
    display: none;
}

/*=============================================
                banner related css
==============================================*/
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.banner-container{
    width: 73.125rem;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(../Images/header-bg.png);
    border-radius: 1rem;
    text-align: center;
    padding: 6rem 1rem;

}

.banner-container h1{
    color: #FFF;
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: -1rem;
}

.banner-container p{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
    margin-top: -3rem;
}

.banner-container .form-container{
    margin-top: 60rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 56rem;
    margin: 0 auto;
    padding: 1rem;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.banner-container .form-container .div-1 #where{
    width: 9.875rem;
    height: 3.1rem;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0;
    padding-left: 1rem;

}

.banner-container .form-container .div-2 #when{
    width: 10.875rem;
    height: 3.25rem;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0;
    padding-left: 1rem;
}

.banner-container .form-container .div-3  #select-type{
    width: 10.875rem;
    height: 3.25rem;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0;
    padding-left: 1rem;
}

.banner-container .form-container .div-4 #btn img{
    width: 1.5rem;
    height: 1.5rem;
}

.banner-container .form-container .div-4 #btn{
    width: 10.875rem;
    height: 3.25rem;
    text-align: center;
    display: inline;
    border-radius: 8px;
    background: #FF5400;
    border: 0;
    color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/*=============================================
                main related css
==============================================*/
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6.25rem;
}

.main-container{
    width: 173.125rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-container .main-left{
    margin-right: -10rem;
}

.main-container .main-left h1{
    color: #131318;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.main-container .main-left p{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.main-container .main-left .btn{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border: 0;
}

.main-container .main-right img{
    width: 30rem;
    height: 30rem;
}

.main-container .main-left ul li{
    word-wrap: break-word;
    margin-left: -1.4rem;
}


/*=============================================
            destination related css
==============================================*/
.destination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
.destination-container{
    width: 73.125rem;
    text-align: center;
}

.destination-container h1{
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.destination-container p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
}

.destination-container .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.destination-container .top .top-left{
    width: 35.8135rem;
    height: 18.75rem;
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/maldives.png);
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.destination-container .top .top-right{
    width: 35.8135rem;
    height: 18.75rem;
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),url(../Images/indonesia.png);
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.destination-container .top .top-left h1{
    padding: 8.25rem 14.1875rem;
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.destination-container .top .top-right h1{
    padding: 8.25rem 13.75rem;
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.destination-container .mid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
}

.destination-container .mid-left{
    width: 23.375rem;
    height: 17.875rem;
    background-image:linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 1000%), url(../Images/srilanka.png);
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.destination-container .mid-left h1{
    padding: 7.8125rem 0;
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.destination-container .mid-mid{
    width: 29.625rem;
    height: 17.875rem;
    background-image:linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/north-america.png);
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.destination-container .mid-mid h1{
    padding: 7.8125rem 0;
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.destination-container .mid-right{
    width: 17.125rem;
    height: 17.875rem;
    background-image:linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/kashmir.png);
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.destination-container .mid-right h1{
    padding: 7.8125rem 0 ;
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.destination-container .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.destination-container .bottom-left{
    width: 29.5625rem;
    height: 18.75rem;
    background-image:linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/bangladesh.png);
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.destination-container  .bottom-left h1{
    padding: 8.25rem ;
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.destination-container .bottom-right{
    width: 42.0625rem;
    height: 18.75rem;
    background-image:linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/bandarban.png);
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.destination-container  .bottom-right h1{
    padding: 8.25rem ;
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/*=============================================
            card related css
==============================================*/
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.card-container{
    width:73.125rem;
    margin-bottom: 2rem;
}

.card-container .card-title{
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.card-container .card-p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
}

.card-container .top-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.card-container .top-card .top-card-left img{
    width: 4rem;
    height: 4rem;
}

.card-container .top-card .top-card-left{
    width: 35.8135rem;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 1rem;
    margin-right:0.625rem ;
}
.card-container .top-card .top-card-right img{
    width: 4rem;
    height: 4rem;
}

.card-container .top-card .top-card-right{
    width: 35.8135rem;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 1rem;
    margin-left:0.625rem;
}

.card-container .bottom-card img{
    width: 4rem;
    height: 4rem;
}

.card-container .bottom-card{
    width: 35.8135rem;
    border-radius: 1rem;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 1rem;
    margin:0 auto;
}

/*=============================================
            newsletter related css
==============================================*/
.newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.newsletter-container{
    width: 73.125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.newsletter-container .news-left{
    width: 30%;
    border-radius: 16px;
    border: 1px solid #FF5400;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.newsletter-container .news-left .line{
    width: 100%;
    height: 0.0625rem;
    background: rgba(19, 19, 24, 0.10);
}

.newsletter-container .news-left #name{
    margin: 1.5rem 0;
    width: 100%;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: rgba(19, 19, 24, 0.05);
    border: 0;
    padding: 0.5;
}

.newsletter-container .news-left #email{
    margin: 1.5rem 0;
    width: 100%;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: rgba(19, 19, 24, 0.05);
    border: 0;
    padding: 0.5;
}

.newsletter-container .news-left .btn{
    margin: 1.5rem 0;
    width: 100%;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: #FF5400;
    border: 0;
    padding: 0.5;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.newsletter-container .news-right .travel{
    width: 40%;
    height: 7.5rem;
    border-radius: 16px;
    background: #FF5400;
    text-align: center;
    transform: rotate(-19.628deg);
    margin-top: 48%;
    margin-left: 50%;
    margin-bottom: 2rem;
}

.newsletter-container .news-right{
    width: 63%;
    height: 32.625rem;
    background-image: url(../Images/newsletter.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: end;
    border-radius: 16px;

}

.newsletter-container .news-right .btn{
    width: 20.25rem;
    height: 7.25rem;
    transform: rotate(-19.628deg);
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0;
    border-radius: 1rem;
    margin-top: 48%;
    margin-right: 0.5rem;
    margin-left:0;
}

.newsletter-container .news-right .btn span{
    color: #FFF;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/*=============================================
            footer related css
==============================================*/
.footer{
    background: rgba(19, 19, 24, 0.05);
    margin-top: 8rem;
    padding: 5rem 0;
}

.footer-container{
    width: 54.5rem;
    margin: 0 auto;
}

.footer-container .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.footer-container .logo h1{
    color: #131318;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer-container .logo h1 span{
    color: #FF5400;
}

.footer-container .para{
    text-align: center;
}

.footer-container .social img{
    width: 2rem;
    height: 2rem;
    padding: 1rem;
}

.footer-container .social{
    text-align: center;
}

.footer-container .line{
    width: 54.5rem;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin: 1rem 0;
}

.footer-container .copy-r{
    text-align: center;
}




/*=============================================
===============================================
            responsive for mobile device
===============================================
===============================================*/

 @media screen and (max-width:600px) {
/* nav css */
    .nav-container{
        align-items: center;
        padding: 20px;
        width: 100%;
        margin: 10px;
    }

    .nav-container .menu-btn i{
        padding-left: 200px;
        display: block;
    }

    #click:checked ~ .menu-btn i:before{
        content: "\f00d";
    }

    .nav-container .nav-right ul{
        margin-top: 50px;
        position: fixed;
        top: 100px;
        left:-110%;
        height:100vh;
        width: 100%;
        background-color: #e07c49;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }

    #click:checked ~ .nav-right ul{
        left:0%;
    }

    .nav-container .nav-right ul li
    {
        margin: 40px 0;
        padding-right: 80px;
    }

    .nav-container .nav-right ul li a,
    .nav-container .nav-right ul a:hover{
        color:white;
        font-size: 1.5rem;
    }

/* banner css */
    .banner-container{
        width: 100%;
        margin: 10px;
    }

    .banner-container .form-container{
        flex-direction: column;
        width: 90%;
        padding: 1rem;
        margin-top: 8rem;
    }

    .banner-container .form-container .div-1 #where{
        width:15.93rem;
        height: 2.25;
        margin-top: 1.5rem;
        margin-left: 0;
    }
    .banner-container .form-container .div-4 #btn{
        justify-content: center;
    }

    .banner-container .form-container .div-4 #btn img{
        padding-right: 1rem;
    }
    .banner-container .form-container .div-2 #when,
    .banner-container .form-container .div-3 #select-type,
    .banner-container .form-container .div-4 #btn{
        width: 16.93rem;
        height: 3.25rem;
        margin-top: 1.5rem;
        margin-left: 0;
    }

/* main css */
    .main-container{
        flex-direction: column;
    }

    .main-container  .main-left{
        width: 100%;
        margin: 0;
        margin-left: 20px;

    }

    .main-container .main-right img{
        width: 100%;
        margin-top: 1.25rem;
    }

/* destination css */
    .destination-container,
    .destination-container .top,
    .destination-container .mid,
    .destination-container .bottom{
        width: 100%;
        flex-direction: column;
    }

    .destination-container .top .top-left,
    .destination-container .top .top-right,
    .destination-container .mid .mid-left,
    .destination-container .mid .mid-mid,
    .destination-container .mid .mid-right,
    .destination-container .bottom .bottom-left,
    .destination-container .bottom .bottom-right
    {
        width: 100%;
        margin-top: 1rem;

    }

    .destination-container .mid .mid-left,
    .destination-container .mid .mid-mid,
    .destination-container .mid .mid-right,
    .destination-container .bottom .bottom-left,
    .destination-container .top .top-left,
    .destination-container .top .top-right{
        background-size: cover;
    }

    .destination-container .top .top-left h1,
    .destination-container .top .top-right h1{
        margin: 0 -6rem;
    }


/* card section css */
 .card-container{
    display: flex;
    flex-direction: column;
 }

 .card-container .top-card .top-card-left,
 .card-container .top-card .top-card-right{
    width: 80%;
    background-size: cover;
    margin: 2rem;
 }

 .card-container .bottom-card{
    width: 80%;
    margin: 0 auto;
 }

 .card-container .top-card{
    flex-direction: column;
 }

 /* Newsletter section css */
 .newsletter{
    width: 100%;
 }

.newsletter-container{
    flex-direction: column;
    width: 100%;
}

.newsletter-container .news-left{
    width: 80%;
    height: 10%;
    /* margin-left: 1.5rem; */
    margin-bottom: 2rem;
}

.newsletter-container .news-right
{
    width: 100%;
    height: 10%;
}

.newsletter-container .news-right .btn{
    width:50%;
    font-size: 0.75rem ;
    height: 30%;
    border-radius: 0.5rem;
    margin-bottom: 8%;
    padding: 1rem;
}

.newsletter-container .news-right .btn span{
    font-size: 1rem;
}

/* footer section css */
    .footer-container,
    .footer-container .line{
        width: 100%;
    }
 }


 /*=============================================
===============================================
        responsive for desktop device
===============================================
===============================================*/

@media screen and (min-width:992px) and (max-width:1400px) {
/* main section css */
    .main-container
     {
        width: 100%;
        justify-content: space-between;
    }

    .main-container .main-right img{
        width: 100%;

    }

    .main-container .main-right,
    .main-container .main-left{
        width: 50%;
    }

 /* destination section css */
    .destination-container,
    .destination-container .top,
    .destination-container .mid,
    .destination-container .bottom{
        width: 100%;
    }

    .destination-container .top .top-left,
    .destination-container .top .top-right{
        width: 49%;
        background-size: cover;
        margin: 1px;
    }

    .destination-container .top .top-left h1{
        margin-left: -3rem;
        margin-top: -0.25rem;
    }

    .destination-container .top .top-right h1{
        margin-left: -3rem;
        margin-top: -0.25rem;
    }

    .destination-container .mid .mid-left{
        width:24%;
        background-size: cover;

    }

    .destination-container .mid .mid-mid{
        width:54%;
        background-size: cover;
        margin: 1px;
    }

    .destination-container .mid .mid-right{
        width:19%;
    }

    .destination-container .bottom .bottom-left{
        width:34%;
        background-size: cover;
    }

    .destination-container .bottom .bottom-left h1{
        margin-left: -50px;
    }
    .destination-container .bottom .bottom-right{
        width:64%;
        background-size: cover;
    }

/* card section css */
    .card-container{
        width: 100%;
    }

    .card-container .bottom-card{
        width: 50%;
    }

/* newsletter section css */
.newsletter{
    width: 100%;
}

.newsletter-container{
    width: 100%;
}

.newsletter-container .news-left{
    width: 32%;
}
.newsletter-container .news-right{
    width: 60%;

}

.newsletter-container .news-right .btn{
    margin-top: 60%;
    margin-right: 0.5rem;


}

}